
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.main-container {
    left: 0%;
    top:0%;
    display: flex;
    flex-direction: column-reverse; /* 子元素竖直排列 */
    align-items: center; /* 子元素在容器中水平居中 */
    justify-content: space-around; /* 子元素之间的间距均匀分布 */
    height: 100vh; /* 容器高度设置为视口高度 */
    width: 100vw;
    
  }
  
  .text-container {
    display: flex;
    flex-direction: column; /* 子元素竖直排列 */
    align-items: center; /* 子元素在容器中水平居中 */
    margin-bottom: 20px; /* 与网格区域保持一定间距 */
  }
  .score-container{
    display: flex;
    flex-direction: row; /* 子元素水平排列 */
    align-items: center; 
    justify-content: space-around; /* 子元素之间的间距均匀分布 */
    margin-bottom: 20px; /* 与网格区域保持一定间距 */
    gap: 2%;
  }

  .score {
    margin: 5px 0; /* 每个文本元素之间的间距 */
    padding: 10px; /* 文本内部的间距 */
    border: 1px solid #ddd; /* 边框 */
    background-color: #f9f9f9; /* 背景颜色 */
    border-radius: 5px; /* 圆角边框 */
    text-align: center; /* 文本居中 */
    width: 200px; /* 宽度 */
  }
  
  .score_r {
    border-color: #ff0000; /* 红色分数边框颜色 */
    color: #ff0000; /* 红色分数文本颜色 */
  }
  
  .score_b {
    border-color: #0000ff; /* 蓝色分数边框颜色 */
    color: #0000ff; /* 蓝色分数文本颜色 */
  }
  
  button {
    padding: 10px 20px; /* 按钮内部的间距 */
    margin-top: 10px; /* 与上方元素的间距 */
    border: none; /* 无边框 */
    background-color: #007bff; /* 背景颜色 */
    color: white; /* 文本颜色 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标指针变为手形 */
    transition: background-color 0.3s; /* 背景颜色变化的过渡效果 */
  }
  
  button:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
  }
  #g-grid {
    width: 80%;
    height: 80%;
    margin-top: 5vh;
    
    overflow: hidden; /* 防止内容溢出 */
    align-items: center; /* 子元素在容器中水平居中 */
    
  }
  .grid-item {
    width: 50px; /* 格子的宽度 */
    height: 50px; /* 格子的高度 */
    background-color: transparent; /* 格子的背景颜色为透明 */
    position: absolute;
    opacity: 0.7;
  }
  #text_box {
    width: 50%; /* 根据需要调整宽度 */
    /* 可以添加更多样式 */
  }

/* 横向边框类 */
.horizontal-border {
    width: 50px; /* 每个格子的宽度 */
    border-bottom: 5px solid #ccc; /* 底部边框作为横向线，可以适当加粗 */
    position: absolute; /* 绝对定位 */
    cursor: pointer; /* 可点击时显示手型指针 */
  }
  
  /* 纵向边框类 */
  .vertical-border {
    height: 50px; /* 每个格子的高度 */
    border-right: 5px solid #ccc; /* 右侧边框作为纵向线，可以适当加粗 */
    position: absolute; /* 绝对定位 */
    cursor: pointer; /* 可点击时显示手型指针 */
  }


  .redpoint {
    width: 20px; /* 光标的宽度 */
    height: 20px; /* 光标的高度 */
    background-color: red;
    border-radius: 50%;
  }
  .bluepoint {
    margin-left: 2%;
    width: 20px; /* 光标的宽度 */
    height: 20px; /* 光标的高度 */
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
  }

  